@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', 'sans-serif';   
}

body {
    background: #071051;
    transition: 3s;
    position: relative;
    margin: 0;
    min-height: 100%;
    padding-bottom: 6.7rem;
    box-sizing: inherit;
}

html {
    height: 100;
}

.header {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    position: relative;
    font-size: 25px;
    color: #97feed; 
    text-decoration: none;
    font-weight: 600;
}

.logo:hover {
    scale: 1.1;
}
  
.logo::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #071051;
    animation: showRight 1s ease forwards;
    animation-delay: .4s;
}
@keyframes showRight {
    100% {
        width: 0;
    }
}

.navbar a {
    font-size: 20px;
    font-weight: 500;
    color: #35A29F;
    text-decoration: none;
    padding: 10px;
    margin-left: 35px;
    transition: .3s;
}

.navbar a:hover, .navbar a.active {
    color: aliceblue;
}
.home {
    display: flex;
    align-items: center;
    height: 90vh;
    padding: 0 10%;
    background: url(idok2.jpg);
    background-size: cover;
    animation: transition 0.75s;
}

.home-content {
    max-width: 700px;
    height: 400px;
}

.home-content h1 {
    font-size: 50px;
    font-weight: 600;
    color: aliceblue;
}

.home-content h3 {
    color: #97feed;
    font-size: 28px;
    font-weight: 700;
    padding-bottom: 20px;
}
.home-content p {
    font-size: 17px;
    padding-bottom: 20px;
    color: #35a29f;
}
.home-content .btn-box {
    width: 120px;
    height: 60px;
    margin-left: 40px;
}
.home-content .btn-box a {
    color: #35A29F;
    height: 60px;
    width: 140px;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    border: 2px solid #97feed;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    letter-spacing: 1px;
}
.home-content .btn-box a:hover {
    scale: 1.1;
    color: aliceblue;
}

.links {
    position: relative;
    top: 0; 
    right: 0;
    width: 100px;   
}

.links a {
    text-decoration: none;
    font-size: 35px;
    height: 50px;
    width: 50px;
    margin: 5px;
}
.links a .fa-brands:hover {
    scale: 1.1;
}

footer {
    position: absolute;
    text-align: center;
    bottom: 0%;
    width: 100%;
    color: #0b666a;
}

/* Contact */
.contact {
    display: flex;
    align-items: center;
    height: 100vh;
    padding: 0 10%;
    animation: transition 0.75s;
}
.contact .contact-content {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.contact .contact-content h1 {
    color: #97feed;
    top: 25%;
    display: flex;
    justify-content: center;
    margin: 1rem;
}
.contact .contact-content h4 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #35A29F;
    margin-bottom: 3rem;
}
.contact .form {
    position: absolute;
    margin-top: 1rem;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%); 
}
.contact .form input {
    width: 100%;
    margin: 20px 0;
    background: rgba(0,0,0,0);
    border: none;
    border-bottom: 1px solid #97feed ;
    color:aliceblue;
    font-size: 15px;
    letter-spacing: 1px;
}

.contact .contact-btn-box {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    top: 150px;
    animation: transition2 0.75s;
}
.contact .contact-btn-box a {
    display: flex;
    justify-content: center;
    border: 2px solid #35A29F;
    padding: 15px 32px;
    width: 100px;
    border-radius: 30px;
    color:#97feed;
    text-decoration: none;
}
.contact .contact-btn-box a:hover {
    scale: 1.1;
    color: aliceblue;
}

#msg {
    margin-bottom: 40px;
    resize: vertical;
    min-height: 100px;
    width: 100%;
    background: rgba(0,0,0,0);
    border: none;
    border-bottom: 1px solid #97feed ;
    color:aliceblue;
    font-size: 15px;
    letter-spacing: 1px;
}

::-webkit-input-placeholder {
    color: rgba(255,255,255,0.5);
    font-style: italic;
    letter-spacing: 2px;
}
.contact-links {
    position: absolute;
    flex-direction: column;
    min-width: 100%;
    top: 80%;
} 
.contact-links h3 {
    display: flex;
    justify-content: center;
    color: #97feed;
}
.hire-links {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}
.hire-links img {
    height: 50px;
    width: 50px;
    margin: 10px;
}
.hire-links i {
    font-size: 45px;
    height: auto;
    margin: 10px;
}
.hire-links a:hover {
    scale: 1.1;
}

@keyframes transition {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
#menu-item {
    font-size: 30px;
    cursor: pointer;
    z-index: 1001;
    display: none;
}
/* ABOUT PAGE*/
.about {
    display: grid;
    position: relative;
    align-items: center;
    gap: 2rem;
    animation: transition 0.75s;
    grid-template-columns: 50% 40%;
    margin: 2rem 7rem;
}

.about-content {
    text-align: justify;
}

.about-content h1 {
    font-size: 50px;
    font-weight: 600;
    color: aliceblue;
    text-align: center;
}

.about-content h3 {
    color: #97feed;
    font-size: 28px;
    font-weight: 700;
}

.about-content p {
    font-size: 17px;
    color: #97feed;
    text-indent: 50px;
}

.about-content a {
    text-decoration: underline;
    font-size: 17px;
    color: #97feed;
}
.my-image img {
    max-width: 100%;
    justify-self: end;
}
.my-image img:hover {
    scale: 1.2;
    transition: all 0.7s ease-in;
}

/* PORTFOLIO PAGE */
.container {
    min-height: 100%;
    overflow-y: auto;
}
.portfolio {
    margin: 0;
    padding: 0;
    min-height: 100%;
}
.portfolio .portfolio-container {
    position: relative;
    text-align: center;    
}
.portfolio .portfolio-container iframe {
    margin: 1rem;
}
.portfolio .portfolio-container h1 {
    color:#97feed;
}
.portfolio .portfolio-container h4 {
    color: #35a29f;
}
.gaming-videos-container {
    position: relative;
    text-align: center;
  }
  .gaming-videos-container h2{
    color: #97feed;
    margin-top: 3rem;
  }
.gaming-videos-container .gaming-videos iframe {
    margin: 1rem;
}

.short-form-videos-container {
    padding: 2rem;
  }
.short-form-videos-container h2 {
    color: #97feed;
    padding: 1rem;
  }
  
  
  .short-form-videos {
    display: flex;
    justify-content: space-between;
    margin-left: -1rem;
    margin-right: -1rem;
    overflow-x: scroll;
  }

  .short-form-videos iframe {
    margin-right: 1rem;
    width: 357px;
    height: 635px;
    border: none;
  }
  
  
  
    
  
  
  